.footer {
  font-size: 1.5rem;
  height: 80px;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eee;

  &__link {
    color: #eee;
    &:hover {
      color: $color-warning;
    }
  }

}