.header-bar {

    padding: 1rem;

    &__header {
        display: inline-block;
        font-size: 3rem;
    }

    &__logout {
        float: right;
        font-size: 2rem;
        padding: 0.5rem;

        &:hover {
            cursor: pointer;
            color: orangered;
        }
    }
}