.header-bar {
    // background-color: #333;
    // color: #fff;
    padding: 1rem 2rem;
    border-bottom: 1px solid rgba(20, 20, 20, 0.5);

    &__header {
        display: inline-block;
        font-size: 3rem;
    }

    &__logout {
        float: right;
        font-size: 2rem;
        padding: 0.5rem;

        &:hover {
            cursor: pointer;
            color: $color-warning;
        }
    }
}