.login-form {
  border: 2px solid #eee;
  padding: 2rem 3rem;
  border-radius: 5px;

  background-color: rgb(246, 246, 246);

  font-size: 1.5rem;
  // max-width: 300px;
  margin: 0 auto;

  &__button {
    padding: 5px 10px;
    margin-top: 10px;
    background: none;
    color: $color-two;
    border: 2px solid $color-two;
    border-radius: 5px;

    &:hover {
      color: #fff;
      background-color: $color-two;
    }

  }
}

.input {
  padding: 5px 10px;
}

input:-webkit-auto-fill {
  background-color: #fff;
}

.form-error {
  color: $color-warning;
  // position: absolute;
  // margin-left: 10px;
  // margin-top: 2px;
}

.registration {
  font-size: 1.5rem;
  max-width: 300px;
  margin: 40px auto 0;
}