* {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 112.5em) {
    html {
      font-size: 62.5%; } }
  @media (max-width: 85.375em) {
    html {
      font-size: 50%; } }
  @media (max-width: 60em) {
    html {
      font-size: 50%; } }
  @media (max-width: 40em) {
    html {
      font-size: 37.5%; } }

body {
  box-sizing: border-box;
  padding: 0rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7; }

button {
  cursor: pointer; }

.header-bar {
  padding: 1rem;
  background-image: linear-gradient(to right, rgba(109, 121, 147, 0.5) 0.2, rgba(109, 121, 147, 0.5)); }
  .header-bar__header {
    display: inline-block;
    font-size: 3rem; }
  .header-bar__logout {
    float: right;
    font-size: 2rem;
    padding: 0.5rem; }
    .header-bar__logout:hover {
      cursor: pointer;
      color: orangered; }
